.card {
  margin: auto;
  margin-bottom: 55px;
  border-radius: 5px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px 1px rgba(0, 175, 204, 0.25);
  width: 33rem;
  height: 75rem;
  -top: 20%;
  padding-top: 2rem;
}

.minicard {
  margin: auto;
  margin-top: 44px;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
  width: 300px;
  height: 570px;
  background: #FFFFFF;
}

.center {
  text-align: center;
}

.bigfont {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #424242;
}

.bigfont2 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #424242;
}

.bigfont3 {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-size: 48px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #424242;
  display: inline-block;
  border-bottom: 210px rgba(0, 175, 204, 0.5);
  z-index: 10;
  position: relative;
}


.middlefont {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 350;
  font-size: 1.7rem;
  text-align: left;
  color: #424242;
  padding-top: 15px;
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
}

.middlefont2 {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  margin-left: 10px;
  color: #424242;
  display: inline-block;
  z-index: 10;
  position: relative;
}

.smallfont {
  font-family: 'Noto Sans JP';
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}

.smallfont2 {
  margin-top: 20px;
  margin-left: 66px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
}

.border {
  margin: auto;
  width: 26.1rem;
  height: 0px;
  left: 5.6rem;
  top: 151.4rem;
  border: 1px solid #424242;
}

.topspace {
  margin-top: 3rem;
}

.card span {
  display: block;
  width: 210px;
  height: 10px;
  background: rgba(0, 175, 204, 0.5);
  margin-left: 66px;
  margin-top: -10px;
  -webkit-transform: skew(-17deg);
  transform: skew(-17deg);
  z-index: -1;
}

.link {
  color: cadetblue;
  text-decoration: underline;
}

.important {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 5.0rem;
  color: red;
}

@media screen and (min-width: 720px) and (max-width:960px) {
  .card {
    margin: auto;
    border-radius: 1px;
    background: #FFFFFF;
    box-shadow: 10px 20px 20px 4px rgba(0, 175, 204, 0.25);
    width: 50rem;
    height: 72rem;
    -top: -20%;
    padding-top: 5rem;
    margin-bottom: 10rem;
  }

  .minicard {
    margin: auto;
    margin-top: 70px;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
    width: 40rem;
    height: 50rem;
    background: #FFFFFF;
  }


}

@media screen and (min-width: 960px) {
  .border {
    max-width: 200.0rem;
    width: 70rem;
    height: 0px;
    left: 5.6rem;
    top: 151.4rem;
    border: 0.2px solid #424242;
  }

  .bigfont {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    font-size: 6rem;
    line-height: 10.5rem;
    text-align: center;
    color: #424242;
    margin-top: 1%;
  }

  .bigfont2 {
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 5rem;
    text-align: center;
    color: #424242;
  }

  .bigfont3 {
    font-family: 'Noto Sans JP';
    font-style: normal;
    border-bottom: 210rem rgba(0, 175, 204, 0.5);
    font-size: 10.0rem;
    font-weight: 400;
    line-height: 3rem;
    text-align: center;
    color: #424242;
    display: inline-block;
    z-index: 10;
    position: relative;
  }

  .middlefont {
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 5.0rem;
    color: #424242;
    margin-bottom: 50px;
    padding-right: 5rem;
    padding-left: 5rem;
  }

  .middlefont2 {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    font-size: 6rem;
    line-height: 1rem;
    margin-left: 10px;
    color: #424242;
    display: inline-block;
    z-index: 10;
    position: relative;
  }

  .smallfont {
    font-style: normal;
    font-weight: 400;
    font-size: 5rem;
    line-height: 17px;
    margin-bottom: 100px;
  }

  .smallfont2 {
    margin-top: 5rem;
    padding-left: 10rem;
    margin-bottom: 1rem;
    font-style: normal;
    font-weight: 300;
    font-size: 5rem;
  }

  .card {
    margin: auto;
    border-radius: 1px;
    background: #FFFFFF;
    box-shadow: 10px 20px 20px 4px rgba(0, 175, 204, 0.25);
    width: 80rem;
    height: 140rem;
    -top: -20%;
    padding-top: 5rem;
    margin-bottom: 20rem;
  }

  .minicard {
    margin: auto;
    margin-top: 70px;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
    width: 70rem;
    height: 105rem;
    background: #FFFFFF;
  }

  .card span {
    display: block;
    width: 50rem;
    height: 2rem;
    background: rgba(0, 175, 204, 0.5);
    margin-left: 16rem;
    margin-top: -1rem;
    -webkit-transform: skew(-17deg);
    -moz-transform: skew(-17deg);
    transform: skew(-17deg);
    z-index: -1;
  }

  .topspace {
    margin-top: 3rem;
  }

  .important {
    font-style: normal;
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    line-height: 5.0rem;
    color: red;
  }
}