.conteinar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
}

.title1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10rem;
  margin-bottom: 33px;
}

.title1 div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-left: -220px;
}

.header1 {
  position: relative;
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 35px;

  color: #000000;
}

.title1 span {
  display: block;
  background: linear-gradient(rgba(0, 175, 204, 0.5));
  height: 9px;
  margin-top: -12px;
  width: 91px;
  -webkit-transform: skew(-17deg);
  transform: skew(-17deg);


}

.title2 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
}

.title2 div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-bottom: -30px;
}

.header2 {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: #000000;
}

.headerline2_1 {
  display: block;
  background: linear-gradient(rgba(0, 175, 204, 0.5));
  height: 10px;
  margin-top: -18px;
  width: 325px;
  -webkit-transform: skew(-17deg);
  transform: skew(-17deg);
}

.header3 {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: #000000;
  margin-top: 42px;
}

.headerline2_2 {
  display: block;
  background: linear-gradient(rgba(0, 175, 204, 0.5));
  height: 10px;
  margin-top: -18px;
  width: 210px;
  -webkit-transform: skew(-17deg);
  transform: skew(-17deg);
}

.box {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 20px 25px;
  margin-top: 50px;
  margin-left: 5%;
  width: 90%;
  margin-bottom: 60px;
  background: #ffffff;
  box-shadow: 0px 4px 4px 3px rgba(0, 175, 204, 0.31);

}
.date {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #424242;

}

.date span {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 26px;
  color: #424242;
}

/* 背景画像切り替えcss */
.background {
  position: relative;
  width: 500px;
  max-width: 100%;
  height: 480px;
  margin-top: -20%;
}

.image {
  position: absolute;
  width: 100%;
  height: 85%;
  opacity: 0; 
  animation: change-img-anim 150s infinite;
  animation-iteration-count: infinite;
}

.image:nth-of-type(1) {
  animation-delay: 0s;
  z-index: -5;
}
.image:nth-of-type(2) {
  animation-delay: 30s;
  z-index: -4;
}
.image:nth-of-type(3) {
  animation-delay: 60s;
  z-index: -3;
}
.image:nth-of-type(4) {
  animation-delay: 90s;
  z-index: -2;
}
.image:nth-of-type(5) {
  animation-delay: 120s;
  z-index: -1;
}

@keyframes change-img-anim {
  0%{ opacity: 0.3;}
  5%{ opacity: 0.5;}
  10%{opacity: 1.0;}
  20%{ opacity: 0.3;}
  25%{ opacity: 0.1;}
  30%{ opacity: 0;}  
}

@media screen and (min-width: 960px)
{
  .header1 {
    margin-top: 150rem;
    position: relative;
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 400;
    font-size: 15rem;
    line-height: 50rem;
    margin-left: -160%;
    z-index: 1;
    color: #000000;
  }

  .header2 {
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 400;
    font-size: 18rem;
    text-align: center;
    color: #000000;
    z-index: 1;
  }

  .header3 {
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 400;
    font-size: 18rem;
    text-align: center;
    color: #000000;
    margin-top: 10rem;
    z-index: 1;
  }

  .title1 span {
    display: block;
    background: linear-gradient(rgba(0, 175, 204, 0.5));
    height: 50px;
    margin-top: -22rem;
    margin-left: -160%;
    width: 50rem;
    -webkit-transform: skew(-17deg);
    transform: skew(-17deg);
    z-index: -1;
  }

  .headerline2_1 {
    display: block;
    background: linear-gradient(rgba(0, 175, 204, 0.5));
    height: 50px;
    margin-top: -9rem;
    width: 160rem;
    -webkit-transform: skew(-17deg);
    transform: skew(-17deg);
    z-index: -1;
  }
  .headerline2_2 {
    display: block;
    background: linear-gradient(rgba(0, 175, 204, 0.5));
    height: 50px;
    margin-top: -9rem;
    width: 102rem;
    -webkit-transform: skew(-17deg);
    transform: skew(-17deg);
    z-index: -1;
  }

  .date {
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 400;
    font-size: 12rem;
    line-height: 26px;
    color: #424242;
  }

  .date span {
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 400;
    font-size: 18rem;
    line-height: 26px;
  
    color: #424242;
  }
  .box {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 200px;
    margin-top: 150rem;
    margin-bottom: 30rem;
    background: #ffffff;
    box-shadow: 10px 20px 20px 4px rgba(0, 175, 204, 0.31);
  }

  /* 背景画像切り替えcss */
.background {
  position: relative;
  width: 60%;
  max-width: 100%;
  height: 100%;
  margin-top: -33%;
}

.image {
  position: absolute;
  width: 100%;
  height: 90%;
  opacity: 0; 
  animation: change-img-anim 150s infinite;
  animation-iteration-count: infinite;
}

.image:nth-of-type(1) {
  animation-delay: 0s;
  z-index: -5;
}
.image:nth-of-type(2) {
  animation-delay: 30s;
  z-index: -4;
}
.image:nth-of-type(3) {
  animation-delay: 60s;
  z-index: -3;
}
.image:nth-of-type(4) {
  animation-delay: 90s;
  z-index: -2;
}
.image:nth-of-type(5) {
  animation-delay: 120s;
  z-index: -1;
}

@keyframes change-img-anim {
  0%{ opacity: 0.3;}
  5%{ opacity: 0.5;}
  10%{opacity: 1.0;}
  20%{ opacity: 0.3;}
  25%{ opacity: 0.1;}
  30%{ opacity: 0;}  
}

}
