/* .headerButton {
  height: 6rem;
  width: 6rem;
  padding: 0.9rem;
  margin-left: auto;
  display: flex;
  align-items: end;
  justify-content: left;
  border: none;
  background-color:#00AFCC;
  color: #FFF;
  font-size: 1.2rem;
  font-weight: 100;
} */

.headerimg {
  width: 45%;
}

/* .headerLinks {
  position: relative;
}

.headerButton span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: auto;
  height: 0.3rem;
  background-color: #FFF;
 }

 .headerButton span:nth-of-type(1) {
  top:1.5rem; 
    width:3.2rem;
}

.headerButton span:nth-of-type(2) {
  top:2.6rem;
    width:2.4rem;
} */

@media screen and (min-width:960px) {
  .headerimg {
    position: absolute;
    top: 0;
    left: 0.1rem;
  }
  /* .headerButton {
    height: 30rem;
    width: 30rem;
    padding: 0.9rem;
    margin-left: auto;
    margin-right: 20%;
    display: flex;
    align-items: end;
    justify-content: left;
    border: none;
    background-color:#00AFCC;
    color: #FFF;
    font-size: 6rem;
    font-weight: 100;
  }
  .headerButton span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 1;
    height: 1rem;
    background-color: #FFF;
   }
   .headerButton span:nth-of-type(1) {
    top:14rem; 
      width:5rem;
  } 
  
  .headerButton span:nth-of-type(2) {
    top:10rem;
    width:10rem;
  } */

  .topspan{
    position: relative;
    margin: auto;
    margin-bottom: 6rem;
    width: 80rem;
    height: 10rem;
  }

}