.box {
  margin-top: 5rem;
}

.department_container {
  display: flex;
  justify-content: center;
}

.department {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #424242;
  margin-bottom: 10px;
  border-bottom: solid 2px rgba(0, 175, 204);
  width: fit-content;
  padding: 0 20px 5px;
}

.teacher_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
}

.teacher_name {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #424242;
  margin-bottom: 5px;
}

@media screen and (min-width: 720px) and (max-width:960px) {
  .department_container {
    display: flex;
    justify-content: center;
  }

  .department {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #424242;
    margin-bottom: 10px;
    border-bottom: solid 2px rgba(0, 175, 204);
    width: fit-content;
    padding: 0 20px 5px;
  }

  .teacher_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
  }

  .teacher_name {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #424242;
    margin-bottom: 5px;
  }
}

@media (min-width: 960px) {
  .department_container {
    display: flex;
    justify-content: center;
  }

  .department {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #424242;
    margin-bottom: 20px;
    border-bottom: solid 2px rgba(0, 175, 204);
    width: fit-content;
    padding: 0 20px 5px;
  }

  .teacher_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
  }

  .teacher_name {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #424242;
    margin-bottom: 10px;
  }

}