.card {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px 1px rgba(0, 175, 204, 0.25);
  width: 33rem;
  height: 11.3rem
}

.column {
  flex-flow: column;
}

.center {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.bottom {
  margin-bottom: 5.1rem;
}

.bigfont {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #424242;
}

.bigfont2 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #424242;
}

.middlefont1 {
  width: 14.5rem;
  height: 3.8rem;
  margin: 0.2rem;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.smallfont1 {
  width: 14.5rem;
  height: 5.3rem;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 350;
  font-size: 12px;
  line-height: 17px;
  color: #424242;
}

.middlefont2 {
  width: 13.3rem;
  height: 3.8rem;
  margin: 0.5rem;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.smallfont2 {
  width: 11.8rem;
  height: 4.6rem;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 350;
  font-size: 12px;
  line-height: 17px;
  color: #424242;
}

.middlefont3 {
  width: 13.3rem;
  height: 3.8rem;
  margin: 0.3rem;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.smallfont3 {
  width: 14.0rem;
  height: 5.6rem;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 350;
  font-size: 12px;
  line-height: 17px;
  color: #424242;
}

.border {
  margin: auto;
  width: 261px;
  height: 0px;
  left: 56px;
  top: 1514px;
  border: 1px solid #424242;
}

.topspace {
  margin-top: 2.5rem;
}

.topspace2 {
  margin-top: 1.2rem;
}

.rightSpace {
  margin-right: 1.5rem;
}

.card img {
  margin: 1.5rem;
  width: 139px;
  height: 94px;
}