.card {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px 1px rgba(0, 175, 204, 0.25);
  width: 33rem;
  height: 12.9rem
}

.column {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin: auto;
}

.center {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.bottom {
  margin-bottom: 5.1rem;
}

.topspace {
  margin-top: 2.5rem;
}

.topspace2 {
  margin-top: 1.2rem;
}

.rightSpace {
  margin-right: 1.5rem;
}

.box1 {
  margin-bottom: 0.5rem;
}

.box2 {
  text-align: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 297px;
  height: 57px;
  margin: auto;
  margin-top: 2.1rem;
  margin-bottom: 7rem;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  background-color: #00AFCC;
}

.card img {
  margin: auto;
  width: 139px;
  height: 94px;
}



@media screen and (min-width: 768px)
{
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    background: #FFFFFF;
    box-shadow: 10px 20px 20px 4px rgba(0, 175, 204, 0.25);
    width: 80rem;
    max-width: 90rem;
    height: 30rem
  }
  .card img {
    margin: auto;
    width: 35rem;
    height: 28rem;
  }

  .box1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  /* .button {
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 280rem;
    height: 50rem;
    margin: auto;
    margin-top: 5.1rem;
    margin-bottom: 51rem;
    font-weight: 400;
    font-size: 20rem;
    line-height: 29px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    background-color: #00AFCC;
  } */
}