.lineHeight {
  line-height: 2.1rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  text-align: start;
}

.image {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  width: 30.4rem;
}

@media screen and (min-width: 720px) and (max-width:960px)
{
  .lineHeight {
    line-height: 3.1rem;
    font-size: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (min-width: 960px) {
  .lineHeight {
    line-height: 4rem;
    padding-right: 3rem;
    padding-left: 3rem;
  }

  .image {
    margin-top: 6.6rem;
    margin-bottom: 3.6rem;
    width: 67.4rem;
  }
}